.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  color: #282c34;
  height: 100vh;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Lemonada', cursive;
}

.red_value {
  color: red;
}